<h1>Quản lý đơn hàng</h1>
<hr>

<div class="row mt-4">
    <div class="col col-lg-6">
        <div class="alert alert-warning manager-item" role="alert">
            <a href="orders-wait" class="p-2"
                style="display: block;color:unset; font-size: 20px;text-decoration: none;">
                <i class="fas fa-users" style="margin-right: 10px;"></i>
                Đơn hàng đang chờ ({{w}})
            </a>
        </div>
    </div>
    <div class="col col-lg-6">
        <div class="alert alert-success manager-item" role="alert">
            <a href="orders-success" class="p-2"
                style="display: block;color:unset; font-size: 20px;text-decoration: none;">
                <i class="fas fa-users" style="margin-right: 10px;"></i>
                Đơn hàng thành công ({{s}})
            </a>
        </div>
    </div>
</div>

<img src="/img/stonk.png" width="100%" alt="">