<div class="manager">
    <p class="fw-bold">Xin chào, {{user.full_name}}</p>
    <p>Bạn đang đăng nhập với quyền quản lý</p>
    
    <div class="mt-5">
        <div class="alert alert-primary manager-item" role="alert">
            <a href="/admin/products" class="p-2" style="display: block;color: #333; font-size: 20px; text-decoration: none;">Quản lý sản phẩm</a>
        </div>
        <div class="alert alert-primary manager-item" role="alert">
            <a href="/admin/users" class="p-2" style="display: block;color: #333; font-size: 20px;text-decoration: none;">Quản lý người dùng</a>
        </div>
        <div class="alert alert-primary manager-item" role="alert">
            <a href="/admin/products" class="p-2" style="display: block;color: #333; font-size: 20px;text-decoration: none;">Quản lý hóa đơn</a>
        </div>
        <div class="alert alert-primary manager-item" role="alert">
            <a href="/admin/products" class="p-2" style="display: block;color: #333; font-size: 20px;text-decoration: none;">Thống kê</a>
        </div>
    </div>

</div>