<div class="manager">
    <p class="fw-bold">Xin chào, {{user.full_name}}</p>
    <p>Bạn đang đăng nhập với quyền quản lý</p>
    
    <div class="mt-5">
        <div class="alert alert-warning manager-item" role="alert">
            <a href="/admin/products" class="p-2" style="display: block;color:unset; font-size: 20px; text-decoration: none;">
                <i class="fas fa-mobile-alt" style="margin-right: 10px;"></i>
                Quản lý sản phẩm
            </a>
        </div>
        <div class="alert alert-success manager-item" role="alert">
            <a href="/admin/users" class="p-2" style="display: block;color:unset; font-size: 20px;text-decoration: none;">
                <i class="fas fa-users" style="margin-right: 10px;"></i>
                Quản lý người dùng
            </a>
        </div>
        <div class="alert alert-primary manager-item" role="alert">
            <a href="/admin/products" class="p-2" style="display: block;color:unset; font-size: 20px;text-decoration: none;">
                <i class="fas fa-file-invoice-dollar" style="margin-right: 10px;"></i>
                Quản lý đơn hàng
            </a>
        </div>
        <div class="alert alert-danger manager-item" role="alert">
            <a href="/admin/products" class="p-2" style="display: block;color:unset; font-size: 20px;text-decoration: none;">
                <i class="fas fa-align-left" style="margin-right: 10px;"></i>
                Thống kê</a
            >
        </div>
    </div>

</div>