<div class="">
    <p>Test admin</p>
    {{user.chucvu}}

    <div class="">
        <a href="/admin/products">Quan ly san pham</a>
    </div>
    <div class="">
        <a href="/admin/users">Quan ly nguoi dung</a>
    </div>
    <div class="">
        <a href="/admin/products">Quan ly san pham</a>
    </div>
    <div class="">
        <a href="/admin/products">Quan ly san pham</a>
    </div>

</div>