<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST SERVER</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style>
    .cc {
    font-size: 24px;
    margin: 10px;
    }
    .ccc {
        padding: 10px;
    }
    .mdinfo {
        display: none;
        font-size: 10px;   
    }
    </style>
</head>
<body>
    <div class="cc">JS can control form</div>
    <div class="ccc">Input your number (1 to 10) :</div>
    <input type="text" class="md" placeholder="manh dung">
    <button class="btn btn-primary">Submit</button>
    <div class="mdinfo"></div>
    
    
    <div class="test_tab mt-4 d-flex justify-content-around">
        <table class = "test">
        </table>
    </div>
    <script>
        let mdc = document.querySelector('.md')
        let mdinfo = document.querySelector('.mdinfo')
        let btn = document.querySelector('.btn')
        mdc.onblur = function(e){
        this.placeholder = 'Dien vao dmm';
            if(isNaN(this.value)) {
                mdinfo.innerHTML = 'dien so dmm'
                mdinfo.style.display = 'block'
                mdinfo.style.color = 'red'
            }
            else {
                if((this.value <1 || this.value >10)) {
                    mdinfo.style.display = 'block'
                    mdinfo.innerHTML = 'Sai cu roi'
                    mdinfo.style.color = 'red'
                }
                else {
                    mdinfo.style.display = 'block'
                    mdinfo.innerHTML = 'ok'
                    mdinfo.style.color = 'green'        
                    }
                }     
            }
        btn.onclick = function(e) {
            if(mdinfo.outerText != 'ok') {
                alert('Da dung buoi dau')
            }
            else{
                alert('ok')
                location.reload();
            }
        }
    </script>

    <script>
        fetch('/public')
            .then(function(response) {
                return response.json();
                console.log(response.json());
            })
            .then(function(datas) {
                var htmls = datas.map(function(data, index) {
                    return `  
                    <tbody>
                        <tr>
                        <th scope="row">${index + 1}</th>
                        <td>${data.mahh}</td>
                        <td>${data.tenhh}</td>
                        <td>${data.soluong}</td>
                        </tr>
                    </tbody>
                    `;
                })
                var html = `<thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Count</th>
                </tr>
                </thead>` + htmls.join('');
                document.querySelector('.test').innerHTML = html;
            })

           
    </script>
</body>
</html>