<div class="mt-4">
  <h2>LOGIN</h2>

  <form method="POST" action="" class="mt-4">
    {{#if error}}
    <div class="alert alert-danger" role="alert">
      {{error}}
    </div>
    {{/if}}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Account name</label>
      <input name="account" type="text" class="form-control" id="exampleInputEmail1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a type="text" class="btn btn-primary" href="/signup">Sign up</a>
  </form>
</div>